<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="omok.dao.RoomDAO">
  
  	<resultMap type ="omok.mode.vo.Room" id="RoomMap">
  		<id property="id" column="ro_id"/>
		<result property="roomNum" column="ro_num"/>
		<result property="bName" column="ro_b_u_name"/>
		<result property="wName" column="ro_w_u_name"/>
  	</resultMap>
  	
  	<select id="selectOpeningRoom" resultMap="RoomMap">
  		select ro_num, ro_b_u_name, ro_w_u_name
  		from room
  		where ro_num = #{room.roomNum} and ro_closed = "N"
  	</select>
  	
  	<select id="getFull">
  		select ro_full
  		from room
  		where ro_num = #{room.roomNum} and ro_closed = "N"
  	</select>
  	
  	<insert id="insertRoom" useGeneratedKeys="true" keyProperty="room.id">
  		insert into room(ro_num, ro_b_u_name, ro_w_u_name) values
  		(#{room.roomNum}, #{room.bName}, #{room.wName})
  	</insert>
  	
  	<update id="enteredRoom">
  	update room
  	set
  		ro_w_u_name = #{tmp.wName},
  		ro_full = "Y"
  	where ro_num = #{room.roomNum}
  	</update>
  	
  	<update id="closeRoom">
  	update room
  	set
  		ro_closed = "Y"
  	where ro_id = #{roomId}
  	</update>
  	
  </mapper>